extends ../layout/tong-quan-layout.pug

block main
  .content
    .section-10 
      img(src="/adminasset/image/error.svg", alt="")
      div Trang này không tồn tại...
      a(href=`/${pathAdmin}/dashboard`) Trở về trang tổng quan 