extends ../layout/page-layout.pug
include ../mixin/checkbox.pug

block main
  .page-layout
    .inner-wrap 
      div.inner-title Đăng nhập
      div.inner-content Vui lòng nhập email và mật khẩu để tiếp tục
      form#email-login-form.inner-block 
        .inner-item
          label(for="email-input") Email
          input#email-input(type="email",name="email", placeholder="Ví dụ: levana@gmail.com")
        .inner-item
          label(for="password-input") Mật khẩu
          input#password-input.pass(type="password", name="password")
        .inner-line 
          .remember-password 
            +checkbox("check-box-remember-password")
            span Nhớ mật khẩu
          .forget-password 
            a(href=`/${pathAdmin}/account/forgot-password`) Quên mật khẩu?
        button Đăng Nhập
        .create 
          span Bạn chưa có tài khoản?   
          a(href=`/${pathAdmin}/account/register`) Tạo tài khoản