extends ../layout/page-layout.pug
include ../mixin/checkbox.pug

block main
 .page-layout
    .inner-wrap 
      div.inner-title Đăng ký
      div.inner-content Tạo một tài khoản để tiếp tục
      form#register-form.inner-block 
        .inner-item
            label(for="fullname") Họ tên
            input(type="text", id="fullname",name="fullname" placeholder="Ví dụ: Lê Văn A")
        .inner-item
          label(for="email") Email
          input(type="email", id="email-input", name="email", placeholder="Ví dụ: levana@gmail.com")
        .inner-item
          label(for="password") Mật khẩu
          input.pass(type="password", id="password-input",name="password")
        .inner-item.inner-check-box 
          +checkbox("checkbox-register-admin")
          label Tôi chấp nhận các điều khoản và điều kiện
        button Đăng Ký
        .create 
          span Bạn đã có tài khoản?  
          a(href=`/${pathAdmin}/account/login`) Đăng nhập