.footer
  .container
    .inner-item-1
      .title Đăng ký ngay để không bỏ lỡ các chương trình của chúng tôi
      form#email-form(action="")
        input#email(
          placeholder="Nhập email của bạn..." 
          type="email"
          )
        button Đăng Ký Ngay
    .inner-item-2
      .inner-link
        a(href="#")
          div Trang Chủ
        a(href="#")
          div Tour Trong Nước
        a(href="#")
          div Tour Nước Ngoài
        a(href="#")
          div Tin Tức
        a(href="#")
          div Liên Hệ
      .inner-icon
        a(href="#")
          i.fa-brands.fa-facebook
        a(href="#")
          i.fa-brands.fa-x-twitter
        a(href="#")
          i.fa-brands.fa-instagram
        a(href="#")
          i.fa-brands.fa-youtube
    .inner-item-3
      a(href="#")
        .inner-wright © 2024 28Tech. All rights reserved.
      a(href="#")
        img(
          alt="" 
          src="/clientasset/img/Logo.png"
          )
      .right
        a(href="#") Điều khoản dịch vụ
        a(href="#") Chính sách bảo mật